 <!--====== TESTIMONIAL THREE PART START ======-->

    <section id="testimonial" class="testimonial-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-20">
                        <h3 class="title">Testimonial</h3>
                        <p class="text">Edubits has been providing computer training for more than 30 years. We've grown to over 300 locations across the country because of the quality of our instructor-led training and the professional level of customer service we provide.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="row testimonial-active">
                        <div class="col-lg-4">
                            <div class="single-testimonial mt-30 mb-30 text-center">
                                <div class="testimonial-image">
                                    <img src="assets/images/author-3.jpg" alt="Author">
                                </div>
                                <div class="testimonial-content">
                                    <p class="text">"This is the first time I have attended a class in this format and wondered how effective it would be. It was very effective and therefore I would definitely be interested in attending other classes in the same format. The instructor was very knowlegeable and provided a wealth of information about the current version, especially since the last version I used was several releases ago."</p>
                                    <h6 class="author-name">Bruce</h6>
                                    <span class="sub-title">Tulsa, OK</span>
                                </div>
                            </div> <!-- single testimonial -->
                        </div>
                        <div class="col-lg-4">
                            <div class="single-testimonial mt-30 mb-30 text-center">
                                <div class="testimonial-image">
                                    <img src="assets/images/author-1.jpg" alt="Author">
                                </div>
                                <div class="testimonial-content">
                                    <p class="text">"I've never completed a course like this before (remote instruction) and I cannot express how great the instructor was and the overall content of the material. I would defintely recommend this to my co-workers as well as friends. I will be looking into taking more of these classes through ONLC in the near future. Thank you!"</p>
                                    <h6 class="author-name">Amber</h6>
                                    <span class="sub-title">Richmond, VA</span>
                                </div>
                            </div> <!-- single testimonial -->
                        </div>
                        <div class="col-lg-4">
                            <div class="single-testimonial mt-30 mb-30 text-center">
                                <div class="testimonial-image">
                                    <img src="assets/images/author-2.jpg" alt="Author">
                                </div>
                                <div class="testimonial-content">
                                    <p class="text">"I have twenty plus years of experience taking training courses. I am not easily impressed, reserved with my praise, and do not usually complete surveys. Your instructor was excellent, the best I've experienced on a software subject, and I couldn't imagine her doing a better job of seamlessly walking students through a breadth of information in a remote environment. She did a fabulous job pacing everything and addressing student questions. I am very impressed."</p>
                                    <h6 class="author-name">Ted</h6>
                                    <span class="sub-title">Orlando, FL</span>
                                </div>
                            </div> <!-- single testimonial -->
                        </div>
                        <div class="col-lg-4">
                            <div class="single-testimonial mt-30 mb-30 text-center">
                                <div class="testimonial-image">
                                    <img src="assets/images/author-4.jpg" alt="Author">
                                </div>
                                <div class="testimonial-content">
                                    <p class="text">"I never took a remote training before but I will highly recommend this type of training. It felt relaxed and at a nice pace that I feel I came away with lots to use at my workplace. Thank you!"</p>
                                    <h6 class="author-name">Jasmine</h6>
                                    <span class="sub-title">Lacey, WA</span>
                                </div>
                            </div> <!-- single testimonial -->
                        </div>
                    </div> <!-- row -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== TESTIMONIAL THREE PART ENDS ======-->
<!--====== CLIENT LOGO PART START ======-->

    <section id="client" class="client-logo-area">
        <div class="container">
            <div class="row client-active">
                <div class="col-lg-3">
                    <div class="single-client text-center">
                        <img src="assets/images/client_logo_01.png" alt="Logo">
                    </div> <!-- single client -->
                </div>
                <div class="col-lg-3">
                    <div class="single-client text-center">
                        <img src="assets/images/client_logo_02.png" alt="Logo">
                    </div> <!-- single client -->
                </div>
                <div class="col-lg-3">
                    <div class="single-client text-center">
                        <img src="assets/images/client_logo_03.png" alt="Logo">
                    </div> <!-- single client -->
                </div>
                <div class="col-lg-3">
                    <div class="single-client text-center">
                        <img src="assets/images/client_logo_04.png" alt="Logo">
                    </div> <!-- single client -->
                </div>
                <div class="col-lg-3">
                    <div class="single-client text-center">
                        <img src="assets/images/client_logo_05.png" alt="Logo">
                    </div> <!-- single client -->
                </div>
                <div class="col-lg-3">
                    <div class="single-client text-center">
                        <img src="assets/images/client_logo_06.png" alt="Logo">
                    </div> <!-- single client -->
                </div>
                <div class="col-lg-3">
                    <div class="single-client text-center">
                        <img src="assets/images/client_logo_07.png" alt="Logo">
                    </div> <!-- single client -->
                </div>
                <div class="col-lg-3">
                    <div class="single-client text-center">
                        <img src="assets/images/client_logo_08.png" alt="Logo">
                    </div> <!-- single client -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== CLIENT LOGO PART ENDS ======-->